body {
    font-family: 'Raleway', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 3px;
}
button {
    width: 200px;
}

fieldset {
    background-color: lightblue;
}

.entry {
    background-color: lightcyan;
    border: solid 1px black;
    margin: 3px;
    padding: 10px;
}