/* body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiFbqTo0EU0uDwKbCuJIn9sJS7mIjIwSkTcN5zmXvdWictS3a7&s");
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    width:50%;
    
}

fieldset {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: lightblue;
    border-radius: 5px;
    margin: 10px;
    width: 500px;
}
button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 110%;
    margin: 10px;
}

legend {
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    background-color: white;
    width: 250px;
    padding:5px;
    border-radius: 5px;
    margin: auto;
}

.entry {
    background-color: lightcyan;
    border: solid 1px black;
    margin: 3px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.moodFilter {
    height: 50px;
}

.radioButtons {
    padding: 5px;
}

#journalEntry {
    flex-basis: 75%;
}

#entryLog {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#moodFieldset {
    display: flex;
    flex-direction: column;
    
}

#mood {
    text-justify: center;
    font-size: 110%;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    width: 200px;
}
 */

 h1 {
    background-color: white;
    width: 250px;
    padding:5px;
    border-radius: 5px;
    margin: auto;
}

fieldset {
    margin: 10px;
}

#entryLog {
    justify-content: space-around;
}